<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
      <a class="navbar-brand" href="#"><img alt="Brand" width="130px" src="./pic/ysbm_group.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>
      <ul>
        <form class="navbar-form navbar-left">
          <div class="form-group" *ngIf="user">
            <label>Active user: </label>
            {{user.first_name}} {{user.last_name}}
          </div>
          <div class="form-group" *ngIf="user">
            <label>Email: </label>
            {{user.email}}
          </div>
          <div  class="form-group" *ngIf="statistics">
            <label>Status</label>
            <span class="badge">{{statistics.status_id}}</span>
            <span>{{statistics.status_name}}</span>
          </div>
        </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="form-group">
          <a class="btn btn-primary" (click)="logout()">Logout</a>
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>