
<form *ngIf="ready" [formGroup]="profileForm" (ngSubmit)="save(profileForm)" novalidate>

<!--
    <div class="form-control">
        <img alt="Avatar" width="100px" higth="100px" name="avatar" class="form-control" formControlName="avatar" src="avatar">
    </div>
-->
    <input type="file" (change)="fileUpload($event)" placeholder="Upload file" accept=".jpg, .png">

    <div class="form-group" [ngClass]="{'has-error': formErrors.first_name}">
        <label for="first_name">First name</label>
        <input type="text"  id="first_name" name="first_name" class="form-control" placeholder="Type first name here" formControlName="first_name" required>
        <alert *ngIf="formErrors.first_name" type="danger">
            {{ formErrors.first_name }}
        </alert>
    </div>

    <div class="form-group" [ngClass]="{'has-error': formErrors.last_name}">
        <label for="last_name">Last name</label>
        <input type="text"  id="last_name" name="first_name" class="form-control" placeholder="Type last name here" formControlName="last_name" required>
        <alert *ngIf="formErrors.last_name" type="danger">
            {{ formErrors.last_name }}
        </alert>
    </div>

    <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
        <label for="email">Email</label>
        <input type="text"  id="email" name="email" class="form-control" placeholder="Type email here" formControlName="email" required>
        <alert *ngIf="formErrors.email" type="danger">
            {{ formErrors.email }}
        </alert>
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text"  id="phone" name="phone" class="form-control" placeholder="Type phone here" formControlName="phone">
    </div>

    <div class="form-group">
        <label for="skype">Skype</label>
        <input type="text"  id="skype" name="skype" class="form-control" placeholder="Type skype here" formControlName="skype">
    </div>

    <div class="form-group">
        <label for="location">Location</label>
        <select formControlName="location" id="location" name="location">
            <option *ngFor="let location of locations" [ngValue]="location">{{location.title}}</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="(!profileForm.valid)">Save me</button>
</form>
