<div class="row">
    <!-- All statuses inputs -->
    <div class="col-md-3">
        <button *ngIf="i===0" (click)="showDialog = !showDialog" class="btn"></button>
        <app-dialog [(visible)]="showDialog"></app-dialog>
        <ul class="statuses-group">
            <li *ngFor="let userstatus of userstatuses; let i = index" (click)="onSelect(userstatus)"
                [class.selected]="userstatus === selectedStatuses">
                <span class="badge">{{userstatus.status_id}}</span>
                <span>{{userstatus.status_name}}</span>
            </li>
        </ul>
    </div>
    <!-- All statuses statistic -->
    <div class="col-md-6">
        <div class="time-group" *ngIf="user">
            <button type="button" class="list-group-item" disabled>Total in work: {{user.today}}</button>
            <button type="button" class="list-group-item" disabled>Brake: {{user.brake}}</button>
            <button type="button" class="list-group-item" disabled>Lunch: {{user.lunch}}</button>
        </div>
    </div>
</div>