<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img alt="Brand" width="130px" src="./pic/ysbm_group.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group" *ngIf="user">
                    <label>Status</label>
                    {{user.status.name}}
                    <label>Active user: </label>
                    {{user.name}} {{user.email}}
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <div class="form-group">
                    <a [routerLink]="['/login']" class="btn btn-primary btn-lg" role="button">Logout</a>
                </div>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <button type="button"  class="list-group-item">Dasboard</button>
            <button type="button"  class="list-group-item">Schedule</button>
            <button type="button"  class="list-group-item">Calendar</button>
            <button type="button"  class="list-group-item">Profile</button>
            <button type="button"  class="list-group-item">Contacts</button>
            <button type="button"  class="list-group-item">Docs</button>
        </div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
        <ul>
            <li *ngFor="let userstatus of userstatuses">{{userstatus.status}} {{userstatus.status_color}}</li>
        </ul>
    </div>
</div>


