<div class="row">
    <div class="col-md-12">
        <app-nav></app-nav>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a routerLink="/dashboard" class="list-group-item btn btn-info" role="button" routerLinkActive="active">Dashboard</a>
            <button type="button"  class="list-group-item">Schedule</button>
            <button type="button"  class="list-group-item">Calendar</button>
            <button type="button"  class="list-group-item">Profile</button>
            <button type="button"  class="list-group-item">Contacts</button>
            <button type="button"  class="list-group-item">Docs</button>
            <a routerLink="/policy" class="list-group-item btn btn-info" role="button" routerLinkActive="active">Policy</a>

            <a *ngIf="(userRole == 'teamlead') || (userRole == 'admin')" routerLink="/teamlead" class="list-group-item btn btn-info" role="button" routerLinkActive="active">Teamlead</a>

            <a *ngIf="userRole == 'admin'" routerLink="/admin" class="list-group-item btn btn-info" role="button" routerLinkActive="active">Admin</a>
            <a *ngIf="userRole == 'admin'" routerLink="/realtime" class="list-group-item btn btn-info" role="button" routerLinkActive="active">Realtime Report</a>
        </div>
    </div>
    <div class="col-md-9">
       <router-outlet></router-outlet>
    </div>
</div>







