<div class="row">
    <div class="col-md-12">
        <form class="navbar-form navbar-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="...">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <div class="form-group" *ngIf="user">
                        <label>Status</label>
                        {{user.status.name}}
                        <label>Active user: </label>
                        {{user.name}} {{user.email}}
                    </div>
                </li>
                <li>
                    <div class="button-logout">
                        <a [routerLink]="['/login']" class="btn btn-primary btn-lg" role="button">Logout</a>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="list-group">
            <button type="button"  class="list-group-item">Dasboard</button>
            <button type="button"  class="list-group-item">Schedule</button>
            <button type="button"  class="list-group-item">Calendar</button>
            <button type="button"  class="list-group-item">Profile</button>
            <button type="button"  class="list-group-item">Contacts</button>
            <button type="button"  class="list-group-item">Docs</button>
        </div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
        <ul>
            <li *ngFor="let user of users">{{user.name}} {{user.email}} {{user.status.name}}</li>
        </ul>
    </div>
</div>
